body {
  background: white;
  font-family: Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #223;
}

div#canvas {
  text-align: center;
  margin: auto; 
  position: relative; 
  width: 800px;
}

div#header {
  margin-top: 40px;
}

h1 {
  font-size: 100px;
  font-weight: normal;
  margin: 0px;
}

span.highlight {
  color: #2049A2;
}

h2 {
  font-size: 38px;
  font-weight: normal;
  margin: 0px;
}

p {
  margin-bottom: 18px;
}

p.social-network {
  margin-bottom: 5px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

div#intro {
  padding: 30px 0px 10px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  font-family: Constantia, "Lucida Bright", LucidaBright, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

div#intro div.profile {
  float:right; 
  width:240px;
  padding-left: 10px;
}

div#intro div.welcome {
  padding:0px 20px 0px 10px;
}

div#intro div.welcome p.first-para {
  margin-top: 0px;
}

div#intro div.welcome p.last-para {
  font-size: 14px;
}

div#main {
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  font-family: Constantia, "Lucida Bright", LucidaBright, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

div#main h3 {
  font-size: 24px;
}

div#main h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

div#main h5 {
  font-weight: bold;
}

div#main .highlight {
  color: #2049A2;
}

div.services-offered {
}

div.services-offered div.webdev {
  float:left;
  width: 400px;
    
}


div.services-offered h5 {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold; 
}

div.contact-container {
  float:left; 
  width:100%;
}

div.contact-container div.other-stuff {
  float:right; 
  width:390px;
}

div.contact-container div.contact {
  width:400px;
}

div.contact-container div.contact p {
  margin-left:10px; 
  margin-right:10px;
}

div#main ul {
  margin-left: 40px;
  margin-bottom: 15px;
}

div#main ul li {
  list-style-type: disc;
}


div.services-offered div.webdev h5 {
  margin-top:0px;
  margin-bottom: 5px;
}

div.services-offered div.saad {
  margin-left: 410px;  
}

div.services-offered div.teaching {
  clear: both;
  
}

.do-not {
  color: #FF3D3D;
}

.cv {
  text-align:center;
}

div.entry {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

div.entry:after {
content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h4.entry-header {
  text-align: right; 
  margin-top: 20px;
  margin-bottom: 5px;
}

div.entry h5{
  font-size: 20px;
}

div.entry label {
  font-weight: bold;
}  

div.entry div.screenshots {
  float:right;
  width: 380px;
  background: #BBB;
  padding:10px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px;
}

div.entry a {
  font-weight:normal;
}

div.entry div.description {
  width: 390px;
  padding-right: 10px;
}

div.description h5 {
  margin: 20px 0;
}

h3 {
  font-weight: bold;
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  margin: 20px 0;
  text-align: left;
}

div.footer {
  margin-top:50px;
  border-top: dotted 1px gray;
}

div.footer p.copyright {
  font-size: 10px;
}

p.explanation {
  margin: 10px;
  font-size: 12px;
}

p.explanation span.guru {
  font-weight:bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times", "New York", "Georgia", "Garamond", serif;
}

p.explanation span.ninja {
  font-weight:bold;
  color: #ffb540;
}

p.explanation span.robot-zombie {
  font-weight:bold;
}

a img {
  border: 0 none;
}

a {
  text-decoration: none;
  color: #2A60D5;
  font-weight:bold;
}

a:link {

}

a:hover {
  color: #bcbbcb;
}

a:active {
  color: #bcbbcb;
}

a:visited {
   color: #2A60D5;
}

ul#navigation {
  position: fixed;
  top: 80px;
  left: 0px;
  z-index: 1;
  margin: 0;
  padding: 0;
}

ul#navigation li {
  list-style: none outside none;
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  padding: 5px 6px 5px 0px;
  margin-left: 20px;
}

ul#navigation a {
  font-weight: normal;
  font-family: Georgia,Verdana,Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}

ul#navigation a:hover, 
ul#navigation a:active {
  color: #bcbbcb;
}

ul#navigation a:visited {
   color: #2A60D5;
}
