!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'app'
    %title Bryan Bibat | Robot Zombie Software Developer
    %meta{:content => "A portfolio website of a software engineer", :name => "description"}/
    %meta{:content => "Bryan Bibat | Robot Zombie Software Developer", :property => "og:title"}/
    %meta{:content => "A portfolio website of a software engineer", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://bryanbibat.net/", :property => "og:url"}/
    %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body{:"data-spy" => "scroll", :"data-target" => ".navbar", :"data-offset" => "40"}
    .navbar.navbar-fixed-top.navbar-default
      .container
        .navbar-header
          %a.btn.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "http://bryanbibat.net"} Bryan Bibat
        #main-menu.navbar-collapse.collapse
          %ul#main-menu-left.nav.navbar-nav
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#skills"} Skills
            %li
              %a{:href => "#connect"} Connect
            %li
              %a{:href => "#portfolio"} Portfolio
            %li
              %a{:href => "#bio"} Bio
            %li
              %a{:href => "http://blog.bryanbibat.net"} 
                Blog
                %span.glyphicon.glyphicon-share-alt
            %li
              %a{:href => "https://leanpub.com/u/bryanbibat"} 
                Bookstore
                %span.glyphicon.glyphicon-share-alt

    .jumbotron
      %h1
        %span.highlight> BRYAN
        BIBAT
      %h2
        robot zombie software developer
        %sup> *
      %p.explanation
        %sup> *
        because
        %span.guru guru
        is
        %em soooo Web 1.0
        and
        %span.ninja ninja
        isn't as awesome as
        %span.robot-zombie robot zombies
    .container.main-container
      .row#about
        .col-md-12
          %h3 About this site
          %img.pull-right{ :src => image_path("profile.jpg"), :alt => "profile pic", :title => "me pwning mac users with my trusty netbook" }
          %p
            Hi, I'm <span class="highlight">Bryan Bibat</span> and I'm a 
            <span class="highlight"><strong>retired</strong> software engineer</span>
            based in Taguig City, Philippines. I have 10 years of experience in 
            developing software, mainly web applications.
          %p
            This is my mini-portfolio website where you can <a href="#portfolio">browse</a> 
            a small sample of my work. You could also check what <a href="#skills">skills</a> 
            I used to offer.
          %p.last-para
            I guess you have some time on your hands since you're still reading this. In that case, you might want to head over to the <a href="#bio">bio</a> section to know more about me. If you <em>really</em> have a lot of time on your hands, why not head over to <a href="http://blog.bryanbibat.net">my blog</a> and read about the geeky stuff I'm into. I also have a <a href="https://leanpub.com/u/bryanbibat">bookstore</a> over at Leanpub where I'm crowdfunding future books. 

      .row#skills
        .col-md-12
          %h3 Skills
          %h4 Important note
          %p
            %strong.highlight I have retired from professional web software development.
          %h4 
          %h4 I used to offer the following services:
          %ul
            %li
              %strong Web Development
              \- mainly Ruby on Rails, but I'm ok with other web frameworks.
            %li
              %strong Systems Analysis and Design
              \- from Requirements Analysis, to Database Design, to Application Architecture and practically everything in between.
            %li
              %strong Teaching and Tutorials
              \- from basic Computer Science to specific technologies. See also 
              %em Pangkaraniwang Developer
              below.
          
      .row#connect
        .col-md-6
          %h3 Contact
          %p
            For inquiries, you can contact me at my e-mail address 
            <a href="mailto:bry@bryanbibat.net">bry@bryanbibat.net</a>.
          %p You can also contact me through skype (<a href="skype:bry.bibat?chat">bry.bibat</a>) as long as I am online.

          %script{:src => "//www.skypeassets.com/i/scom/js/skype-uri.js", :type => "text/javascript"}
          %div{:id => "SkypeButton_Chat_bry.bibat_1"}
            :javascript
              Skype.ui({
                "name": "chat",
                "element": "SkypeButton_Chat_bry.bibat_1",
                "participants": ["bry.bibat"],
                "imageSize": 32
              });

          %p 
            %strong Please note 
            that I may choose to ignore your inquiries for obvious (<em>MLM recruitment, asking me to do free work</em>) and not-so-obvious reasons.
            
          %p 
            If you absolutely have to get in touch with me, your best bet is to meet me at the next 
            %a{:href => "#bio"} PhRUG or DevCon
            event.


        .col-md-6
          %h3 Network
          %p.social-network Visit my sites at
          %ul
            %li
              %a{:href => "http://twitter.com/bry_bibat"} Twitter
            %li
              %a{:href => "https://github.com/bryanbibat"} GitHub
            %li
              %a{:href => "https://plus.google.com/u/0/+BryanBibat"} Google Plus
            %li
              %a{:href => "https://speakerdeck.com/bryanbibat"} Speaker Deck
            %li
              %a{:href => "http://youtube.com/user/bryanbibat"} YouTube

      .row#portfolio
        .col-md-12
          %h3 My works
          %p
            While I may have worked with a bunch of platforms (and almost 
            all major commercial databases) in my previous work, I can't 
            put them here because of these three letters: 
            <a href="http://en.wikipedia.org/wiki/Non-disclosure_agreement">NDA</a>.
          %p
            Anyway, here is my portfolio, a short list of stuff I made post-enterprise development:

      .row#books
        .col-md-12
          %h4 books
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots 
              %iframe{ :width => "380", :height => "350", :src => "https://leanpub.com/html5shootemupinanafternoon/embed", :frameborder => "0", :allowtransparency => "true" }
            .col-md-pull-6.col-md-6.description
              %h5 HTML5 Shoot 'em Up in an Afternoon
              %p
                %label Status:
                published, continuously updated
              
              %p Originally a rushed manual for a <a href="http://devcon.ph/events/game-development-camp" target="_self">weekend workshop of 40 people</a>, I've expanded this book to include more pictures and diagrams to make it easier for beginners to grasp basic game concepts.
              %p
                %label Website:
                %a{:href => "https://leanpub.com/html5shootemupinanafternoon"}https://leanpub.com/html5shootemupinanafternoon
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots 
              %iframe{ :width => "380", :height => "310", :src => "https://leanpub.com/rails3dot0-astudentmanual/embed", :frameborder => "0", :allowtransparency => "true" }
            .col-md-pull-6.col-md-6.description
              %h5 Rails 3.0: A Student Manual
              %p
                %label Status:
                published
              
              %p I've decided to give away my student manual for Rails 3.0 after the release of Rails 3.1.
              %p
                %label Coverage:
                %ul
                  %li Ruby on Rails 3.0
                  %li RSpec 2.5
                  %li a bit of jQuery
              %p
                %label Website:
                %a{:href => "https://leanpub.com/rails3dot0-astudentmanual"}https://leanpub.com/rails3dot0-astudentmanual
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots 
              %iframe{ :width => "380", :height => "345", :src => "https://leanpub.com/rails40astudentmanual/embed", :frameborder => "0", :allowtransparency => "true" }
            .col-md-pull-6.col-md-6.description
              %h5 Rails 4.0: A Student Manual
              %p
                %label Status:
                published
              
              %p A transitional book before I write a new Rails 4.1/4.2 manual from scratch.
              %p
                %label Coverage:
                %ul
                  %li Ruby on Rails 4.0
                  %li RSpec 3
                  %li a bit of jQuery
              %p
                %label Website:
                %a{:href => "https://leanpub.com/rails40astudentmanual"}https://leanpub.com/rails40astudentmanual
      .row#projects
        .col-md-12
          %h4 projects
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots 
              %img.img-polaroid{:src => image_path("pd.jpg")}
            .col-md-pull-6.col-md-6.description
              %h5
                %img{:src => image_path("pd.png"), :title => "Pangkaraniwang Developer", :alt => "Pangkaraniwang Developer"}
              %p
                %label Status:
                "throwaway"
              
              %p I want to teach software development to every Filipino who wants to learn how to build software.
              %p This video blog/wiki is my way of doing just that.
              %p
                %label Website:
                %a{:href => "http://pd.bryanbibat.net/"}http://pd.bryanbibat.net/
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("rails-ftw01-installer.png")}
                %img.img-polaroid{:src => image_path("rails-ftw01-installer.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5
                %img{:alt => "RailsFTW", :src => image_path("railsftw.png"), :title => "RailsFTW"}/
              %p
                %label Status:
                Released, rarely updated
              %p
                In my experience, one of the most annoying parts about teaching
                Ruby on Rails is installing the whole thing. Whether it's the
                training room having limited internet connection or the students
                blatantly ignoring the steps written in the training manual,
                expect a bunch of stuff to crop up at the start of the training
                to waste 2-3 hours of your allotted time.
              %p
                To remedy this problem, I've modified the official Ruby Installer
                for Windows to include all the necessary gems and dependencies to
                allow a trainee to start building Rails apps in less than 5 minutes.
              %p
                %label Website:
                %a{:href => "http://railsftw.bryanbibat.net/"} http://railsftw.bryanbibat.net/

      .row#web-sites
        .col-md-12
          %h4 web sites
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("devcon-site.png")}
                %img.img-polaroid{:src => image_path("devcon-site.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 
                Developers Connect Philippines - 
                %a{:href => "http://devcon.ph/"} http://devcon.ph/
              %p
                %label Status:
                Online, open to the public
              %p
                I'm a major contributor and the site sys admin for DevCon's website.
              %p
                %label Technologies Used:
                %ul
                  %li Ruby on Rails 3.2 (soon to be 4.0)
                  %li PostgreSQL
                  %li Twitter Bootstrap
              %p
                %label Source Code:
                %a{:href => "http://github.com/devcon-ph/devcon"} view it at GitHub

      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("pinoyrb.png")}
                %img.img-polaroid{:src => image_path("pinoyrb.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 
                Philippine Ruby Users Group - 
                %a{:href => "http://pinoyrb.org/"} http://pinoyrb.org/
              %p
                %label Status:
                Online, open to the public
              %p
                As with DevCon, I'm a major contributor and the site sys admin for PhRUG's website.
              %p
                %label Technologies Used:
                %ul
                  %li Ruby on Rails 3.2 (soon to be 4.0)
                  %li PostgreSQL
                  %li Twitter Bootstrap
              %p
                %label Source Code:
                %a{:href => "http://github.com/phrug/pinoyrb"} view it at GitHub

      .row#web-apps
        .col-md-12
          %h4 web applications / games
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("gunner-ssht.png")}
                %img.img-polaroid{:src => image_path("gunner-ssht.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 Gunner
              %p
                %label Status:
                In progress 
              %p An HTML5 clone of a relatively new type of arcade ticket redemption games.
              %p
                %label Technologies Used:
                %ul
                  %li Phaser
              %p
                %label Website:
                %a{:href => "http://datenshizero.github.io/gunner/"} http://datenshizero.github.io/gunner/
              %p
                %label Blog Post:
                %a{:href => "http://blog.bryanbibat.net/2014/08/03/making-an-html5-knockoff-of-chinese-arcade-game-knockoffs-with-phaser/"} Making an HTML5 knockoff of Chinese arcade game knockoffs with Phaser
              %p
                %label Source Code:
                %a{:href => "http://github.com/datenshiZERO/gunner"} view it at GitHub

      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("yaws.png")}
                %img.img-polaroid{:src => image_path("yaws.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 Yet Another World War II Shooter
              %p
                %label Status:
                Online, open to the public
              %p
                Demo game for <em>HTML5 Shoot em 'up in an Afternoon</em>. See book above for more details.
              %p
                %label Technologies Used:
                %ul
                  %li Phaser
              %p
                %label Website:
                %a{:href => "http://datenshizero.github.io/yaws/"} http://datenshizero.github.io/yaws/
              %p
                %label Source Code:
                %a{:href => "http://github.com/datenshiZERO/yaws"} view it at GitHub

      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("ricegrow.png")}
                %img.img-polaroid{:src => image_path("ricegrow.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 RicegrowJS
              %p
                %label Status:
                Online, open to the public
              %p
                Simple ~10 minute text-based game/simulator about rice farming
              %p
                %label Technologies Used:
                %ul
                  %li Machina.js
                  %li jq-console
              %p
                %label Website:
                %a{:href => "http://datenshizero.github.io/ricegrow-js/"} http://datenshizero.github.io/ricegrow-js/
              %p
                %label Source Code:
                %a{:href => "http://github.com/datenshiZERO/ricegrow-js"} view it at GitHub

      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("wdfac.png")}
                %img.img-polaroid{:src => image_path("wdfac.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 WDFAC
              %p
                %label Status:
                Online, open to the public
              %p
                Simple browser game I made to practice JavaScript
              %p
                %label Technologies Used:
                %ul
                  %li jQuery
                  %li Font Awesome
              %p
                %label Website:
                %a{:href => "http://datenshizero.github.io/wdfac/"} http://datenshizero.github.io/wdfac/
              %p
                %label Source Code:
                %a{:href => "http://github.com/datenshiZERO/wdfac"} view it at GitHub

      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("project_r.jpg")}
                %img.img-polaroid{:src => image_path("project_r_thumb.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 Project Я: A Ruby/HTML5 Visual Novel
              %p
                %label Status:
                Online, open to the public
              %p
                A tech-demo I made for the Global Game Jam 2012. I couldn't think of a good game so I just went ahead and played with web technologies.
              %p
                Blog post
                = succeed "." do
                  %a{:href => "http://blog.bryanbibat.net/2012/02/18/project-%d1%8f-a-rubyhtml5-visual-novel/"} here
              %p
                %label Technologies Used:
                %ul
                  %li Ruby on Rails 3.0
                  %li MySQL
                  %li vn-canvas
              %p
                %label Website:
                %a{:href => "http://gamejam.bryanbibat.net/"} http://gamejam.bryanbibat.net/

      .row#mobile-apps
        .col-md-12
          %h4 mobile applications
      .row.entry
        .col-md-12
          .row
            .col-md-push-6.col-md-6.screenshots
              %a.colorbox{:href => image_path("gol-wallpaper.png")}
                %img.img-polaroid{:src => image_path("gol-wallpaper.jpg")}/
            .col-md-pull-6.col-md-6.description
              %h5 Conway's Game of Life Live Wallpaper
              %p
                %label Status:
                Free for download at Google Play
              %p
                This is a Live Wallpaper implementation of Conway's Game of Life coded during the (non-official) Philippine leg of the Global Day of Code Retreat 2011.
              %p
                I needed a new geeky wallpaper and a cute thing to code for the event. This was killing two birds with one stone.
              %p
                %label Technologies Used:
                %ul
                  %li Java
                  %li Android SDK
              %p
                %label Website:
                %a{:href => "https://play.google.com/store/apps/details?id=net.bryanbibat.apps"} Get it at Google Play
              %p
                (If you can't find the app via your phone's Market search, try using the search terms "code retreat".)

      .row#bio
        .col-md-12
          %h3 About me
          %p
            I'm a enterprise software engineer by trade but I got sick of the
            whole corporate world life and quit my job. I spend my time nowadays
            %strike playing online games
            lending my skills to software development-related outreach programs (ie. speaking in seminars, volunteering in events),
            building side projects, and doing research for my blog.
          %p
            I am also currently the President of 
            %a{:href => "http://devcon.ph"} Developers Connect Philippines
            (DevCon) 
            and an active evangelist for the 
            %a{:href => "http://pinoyrb.org"} Philippine Ruby Users Group 
            (PhRUG).
          %p
            My contact details are at the end of the
            %a{:href => "#skills"} skills
            section above.
    .footer
      .container
        .row
          .col-md-12
            %p.copyright
              Copyright &copy;2011 - 2014 
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            %p.powered
              Made with <a href="http://getbootstrap.com">Bootstrap</a>,
              <a href="http://bootswatch.com/spacelab/">Spacelab Bootswatch</a>, and
              <a href="http://middlemanapp.com">Middleman</a>.
            %p <a href="https://github.com/bryanbibat/homepage">Fork this on Github</a>
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}\
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.4.10/jquery.smooth-scroll.min.js"}\
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox-min.js"}\
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.4.10/jquery.smooth-scroll.min.js"}\
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"}\
    = javascript_include_tag 'app'\
    - if build?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8760525-5']);
        _gaq.push(['_setDomainName', '.bryanbibat.net']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.bryanbibat.net/" : "http://analytics.bryanbibat.net/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
      %noscript
        <img src="http://analytics.bryanbibat.net/piwik.php?idsite=1" style="border:0" alt="" />

